<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>短信信息</title>
    <link rel="stylesheet" href="/static/commons/assets/libs/layui/css/layui.css" />
    <script type="text/javascript" src="/static/commons/assets/libs/jquery/jquery-3.2.1.min.js" ></script>
</head>
<body>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">发送短信</div>
                <div class="layui-card-body">
                    <form class="layui-form" id="searchFormId">
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名：</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" id="username" lay-verify="title" autocomplete="off" onclick="getUser()" placeholder="请选择发送人" class="layui-input">
                                <input type="hidden" name="phone" id="phone" lay-verify="title" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item  layui-form-text">
                            <label class="layui-form-label">内容：</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容"  name="message" id="message" class="layui-textarea"></textarea>
                            </div>
                        </div>

                    </form>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" type="button" data-type="reload" id="sendDx" onclick="sendDx()">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<!--table-->
<script type="text/html" id="tableId">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div>
                    <!-- 数据表格 -->
                    <table class="layui-hide" id="userTable" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button" data-type="reload" id="qdUser" onclick="qdUser()">确定</button>
        </div>
    </div>
</script>

<script>
    function getUser() {
        layui.use("layer",function() {
            var layer = layui.layer;  //layer初始化
            layer.open({
                title: '修改信息',
                type: 1,
                content: $("#tableId").html(),
                area: ['950px', '510px'],
                btnAlign: 'c',
                btn:[],
                cancel: function () {
                    layer.msg("关闭窗口");
                },


            });

            layui.use('table', function(){
                var table = layui.table;
                table.render({
                    elem: '#userTable'
                    ,url:'queryUser'
                    ,title: '用户信息'
                    ,method:'post'
                    ,cols:
                        [
                            [
                                {type: 'checkbox', fixed: 'left', rowspan: 2}
                                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, rowspan: 2}
                                ,{field:'name', title:'姓名', fixed: 'left',unresize: true, rowspan: 2}
                                ,{field:'phone', title:'手机号',   rowspan: 2}
                                ,{field:'loginname', title:'登录名',  rowspan: 2}
                                ,{field:'password', title:'密码',  rowspan: 2,templet:function (d) {
                                        return '*******';
                                    }
                                }
                            ]
                        ]
                    ,page: true

                });

            });
        })
    }

    function qdUser() {
        var selectData = layui.table.checkStatus('userTable').data;
        var username="";
        var phone="";
        for ( var i = 0;i < selectData.length ;i++) {
            username += selectData[i].name + ",";
            phone += selectData[i].phone + ",";
        }
        $("#username").val(username.substring(0,username.length-1));
        $("#phone").val(phone.substring(0,phone.length-1));
        layer.closeAll();

    }

    function sendDx() {
        var obj = {};
        var formArray = $("#searchFormId").serializeArray();
        $.each(formArray, function () {
            if (obj[this.name] !== undefined) {
                if (!obj[this.name].push) {
                    obj[this.name] = [obj[this.name]];
                }
                obj[this.name].push(this.value || '');
            } else {
                obj[this.name] = this.value || '';
            }
        });
        console.info(obj);
        $.post('sendMail', obj, function (res) {
            //判断是否发送成功
            if(res.code == 200){
                layer.msg("保存成功",{time : 800});
            }else {
                layer.msg(res.msg,{time : 800});
            }
        })
    }

</script>
</body>
</html>