<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/static/commons/assets/libs/layui/css/layui.css" />
    <script type="text/javascript" src="/static/commons/assets/libs/jquery/jquery-3.2.1.min.js" ></script>
</head>
<body>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">查询</div>
                <div class="layui-card-body">
                    <form class="layui-form" id="searchFormId">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">姓名：</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" id="snameSearchId" placeholder="请输入姓名" class="layui-input">
                                </div>
                            </div>
                            <!--<div class="layui-inline">
                                <label class="layui-form-label">性别：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="nsexSearch" value="1" title="男" lay-filter="sex">
                                    <input type="radio" name="nsexSearch" value="2" title="女" lay-filter="sex">
                                </div>
                            </div>-->
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" type="button" data-type="reload" id="selectUser">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div>
                        <!-- 数据表格 -->
                        <table class="layui-hide" id="userTable" lay-filter="test"></table>

                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!--saveform表单-->
<script type="text/html" id="saveform">
    <form class="layui-form" id="saveFormId">
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">姓名：</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id" id="id" class="layui-input">
                    <input type="text" name="name" id="name" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>



        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-inline">
                    <input type="tel" name="phone"  id="phone"  placeholder="请输入手机号" lay-verify="required|phone" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

    </form>
</script>

<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#userTable'
            ,url:'queryUser'
            ,title: '用户信息'
            ,method:'post'
            ,cols:
                [
                    [
                        {type: 'checkbox', fixed: 'left', rowspan: 2}
                        ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, rowspan: 2}
                        ,{field:'name', title:'姓名', fixed: 'left',unresize: true, rowspan: 2}
                        ,{field:'phone', title:'手机号',   rowspan: 2}
                        ,{field:'loginname', title:'登录名',  rowspan: 2}
                        ,{field:'password', title:'密码',  rowspan: 2,templet:function (d) {
                                return '*******';
                            }
                        }
                        ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150, rowspan: 2}
                    ]
                ]
            ,page: true

        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    deleteUser(data);
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                updateUser(data);
            }
        });

        //条件查询
        var $ = layui.jquery, active = {
            reload:function () {
                var obj = {};
                var formArray = $("#searchFormId").serializeArray();
                $.each(formArray, function () {
                    if (obj[this.name] !== undefined) {
                        if (!obj[this.name].push) {
                            obj[this.name] = [obj[this.name]];
                        }
                        obj[this.name].push(this.value || '');
                    } else {
                        obj[this.name] = this.value || '';
                    }
                });

                obj.insuranceStatus=$("[name='insuranceStatusSearch']:checked").val();
                obj.extrasStatus=$("[name='extrasStatusSearch']:checked").val();
                obj.nsex=$("[name='nsexSearch']:checked").val();

                table.reload('userTable',{
                    method:'post',
                    page:{
                        curr:1
                    },
                    where:obj
                });

            }
        };

        $('#selectUser').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    function updateUser(data) {
        layer.open({
            title: '修改信息',
            type: 1,
            content: $("#saveform").html(),
            btnAlign: 'c',
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                var obj = {};
                var formArray = $("#saveFormId").serializeArray();
                $.each(formArray, function () {
                    if (obj[this.name] !== undefined) {
                        if (!obj[this.name].push) {
                            obj[this.name] = [obj[this.name]];
                        }
                        obj[this.name].push(this.value || '');
                    } else {
                        obj[this.name] = this.value || '';
                    }
                });
                console.info(obj);

                $.post('addOrUpdateUser', obj, function (res) {
                    //判断是否发送成功
                    if (res.code == 200) {
                        // layer.msg("修改成功");
                        layer.close(layer.index);
                        table.render('userTable',{

                            //渲染表格
                            //where:{重载条件查询，键值对形式}

                        })
                    }else {
                        layer.msg(res.msg);
                    }

                    // layer.close(layer.index);
                    // window.parent.location.reload();

                })
            }, btn2: function (index, layero) {
                layer.msg("取消");
                //return false 开启该代码可禁止点击该按钮关闭
            }, cancel: function () {
                layer.msg("关闭窗口");
            },

            success: function () {
                layui.use(['form',"laydate",'table'], function () {
                    var form = layui.form; //只有执行了这一步，部分表单元素才会修饰成功
                    form.render();
                    var table = parent.window.layui.table;
                    table.render('userTable',{

                        //渲染表格
                        //where:{重载条件查询，键值对形式}

                    })

                    //表格重载

                    /*dicTable.reload({



                })*/

                });
            }
        });

        //回显
        $.ajax({
            url:"queryUserById",
            type:"post",
            data: data,
            dataType:"json",
            success:function (result) {
                if (result.code == 200) {
                    $("#id").val(result.data.id);
                    $("#name").val(result.data.name);
                    $("#phone").val(result.data.phone);
                }
            },
            error:function (result) {
                layer.msg(result.msg,{time : 800});
            }
        });


    }

    function deleteUser(data){
        $.ajax({
            url:"deleteUser",
            data:data,
            type:"post",
            success:function () {
                layer.msg("删除成功",{time : 800});
                /*layer.close(layer.index);
                window.parent.location.reload();*/
            }
        })
    }
</script>
</body>
</html>